@{
    ViewData["Title"] = "Meu Perfil";
}

<head>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>

<div style="max-width: 1670px; font-size: 36px;">@ViewData["Title"]</div>
<p></p>
<p></p>
<p></p>

<body>
    <div style="max-width: 1670px;">
        <div class="row pb-0">
            <div class="col-md-12 pb-0" style="width: 100%; float:right;">
                <form class="form-control">
                  
                    <h5>Lista de Cores de Pelos</h5>
                    <table class="col-md-12 pb-1" id="tableCoresPelos" style="border: 1px solid black; border-collapse: collapse; max-width: 1570px;">
                        <thead style="border: 1px solid black; border-collapse: collapse">
                            <tr style="border: 1px solid black; border-collapse: collapse">
                                <th>ID</th>
                                <th>Cor do Pelo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody style="border: 1px solid black; border-collapse: collapse">
                            @foreach (var corPelo in (List<CorPelo>)ViewBag.coresPelos)
                            {
                                <tr style="border: 1px solid black; border-collapse: collapse">
                                    <td>@corPelo.Id</td>
                                    <td>@corPelo.CorPeloDesc</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="editarCorPelo(@corPelo.Id)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-danger" onclick="excluirCorPelo(@corPelo.Id)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M2.5 5.5a.5.5 0 0 1 1 0V13a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5.5a.5.5 0 0 1 1 0V13a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5.5zM8 1a.5.5 0 0 1 .5.5V4h-1V1.5a.5.5 0 0 1 1 0zM3 4h1v10a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4h1a1 1 0 0 0 0-2H4a1 1 0 0 0 0 2z" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
