@model List<PetFriends.Models.CorPelo>

@{
    ViewData["Title"] = "Lista de todas as cores de pelo";
}

<div class="container justify-content-sm-center g-10" style="padding: 5px;">
    <form>
        <h2>@ViewData["Title"]</h2>
    </form>
    <form class="form-control">
        <div class="row pb-1">
            <table style="justify-content:center; border:1px solid #aaaaaa; border-collapse: collapse; width: 100%; margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">#</th>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Cor do Pelo</th>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Editar</th>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Excluir</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@c.Id</td>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@c.CorPeloDesc</td>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px; width: 25px">
                                @Html.ActionLink("EDITAR", "Edit", new { id = c.Id }, new { @class = "btn", style = "background-color: #32CD32; color: white;" })
                            </td>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px; width: 25px">
                                @Html.ActionLink("DELETAR", "Delete", new { id = c.Id }, new { @class = "btn", style = "background-color: #FF4500; color: white;", onclick = "return confirm('Você tem certeza que deseja deletar essa cor?');" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
    <div class="col-md-6">
        @Html.ActionLink("Cadastrar Cor", "Create", new { @class = "btn", style = "background-color: #008080; color: white;" })
    </div>
</div>
