@model PetFriends.Models.TipoAnimal
@{
    ViewData["Title"] = "Cadastrar tipo";
}

@if (ViewBag.Message != null)
{
    <p class="alert alert-success" role="alert">
        @ViewBag.Message
    </p>
}

<div class="container mt-3">
    <h2>@ViewData["Title"]</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoDesc, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TipoDesc, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.TipoDesc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-12 mb-3">
                    <button type="submit" class="btn btn-primary btn-sm" style="background-color: #de7f02; color: white; margin-top: 10px; border:none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                          <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                          <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                        </svg>
                        SALVAR
                    </button>
                </div>
            </div>
        </div>

    }

    <div class="form-group">
        <div class="col-md-12">
            <br />
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    </div>
</div>
