@{
    ViewData["Title"] = "Despesas";
}
<h1>@ViewData["Title"]</h1>
<br />


<div class="container">
    <div class="form-group">
        <label for="porte">Porte:</label>
        <select id="porte" name="porte">
            <option value="pequeno">Pequeno</option>
            <option value="medio">Médio</option>
            <option value="grande">Grande</option>
        </select>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo">

        <label for="onde">Onde:</label>
        <input type="text" id="onde" name="onde">

        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor">

        <button type="submit">Adicionar</button>
    </div>
    <br />
</div>






<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Porte</th>
            <th>Tipo</th>
            <th>Onde</th>
            <th>Valor</th>

        </tr>
    </thead>

    <p><b>Lista de todas as despesas</b></p>
    <tbody>
        @{
            foreach (var a in (List<PetFriends.Models.Despesas>)ViewBag.users)
            {
                <tr>
                    <td>@a.Id</td>
                    <td>@a.Porte</td>
                    <td>@a.Tipo</td>
                    <td>@a.Onde</td>
                    <td>@string.Format("R$ {0:N2}", a.Valor)</td>
                </tr>
            }
        }
    </tbody>
</table>