@model PetFriends.Models.DespesaFixa
@{
    ViewData["Title"] = "Editar despesa";
}
@if (ViewBag.Message != null)
{
    <p class="alert alert-success" role="alert">
        @ViewBag.Message
    </p>
}
<h2>@ViewData["Title"]</h2>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="font-size:12px;">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group" style="width: 100%;">
                <div class="form-control pb-0" style="float:right;">
                    <div class="row" style="width: 100%; font-size:12px;">
                        <div class="form-group col-md-2 pb-0">
                            @Html.LabelFor(model => model.Porte, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group" id="grupoPorte" style="font-size:12px;">
                                <button type="button" class="btn btn-primary" id="btnEditPorte" style="font-size:12px;" onclick="@("window.location.href='" + @Url.Action("Privacy", "Home") + "'");">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg>
                                </button>
                                @Html.DropDownListFor(model => model.IdPorte, new SelectList(ViewBag.IdPorte, "Id", "PorteDesc"), "P/M/G...", htmlAttributes: new { @class = "form-control form-select", @id = "Porte", @data_val = "true", @required = "required", @placeholder = "Gênero aqui..." })
                            </div>
                            @Html.ValidationMessageFor(model => model.IdPorte, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2 pb-0">
                            @Html.LabelFor(model => model.TipoDespesa, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.TipoDespesa, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                            @Html.ValidationMessageFor(model => model.TipoDespesa, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2 pb-0">
                            @Html.LabelFor(model => model.Onde, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Onde, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                            @Html.ValidationMessageFor(model => model.Onde, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2 pb-0">
                            @Html.LabelFor(model => model.ValorDespesa, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ValorDespesa, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                            @Html.ValidationMessageFor(model => model.ValorDespesa, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 mb-3">
                    <button type="submit" class="btn btn-primary btn-sm" style="background-color: #de7f02; color: white; margin-top: 10px; border:none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                          <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                          <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                        </svg>
                        SALVAR
                    </button>
                </div>
            </div>
        </div>

    }
    <p>
        @Html.ActionLink("Voltar para lista", "Index")
    </p>
</body>
