@{
    ViewData["Title"] = "Teste - Lista de animais";
}
<h1>@ViewData["Title"]</h1>

<p>Carregando uma lista de animais.</p>


@{
    foreach(var a in (List<PetFriends.Models.CadastroAnimal>)ViewBag.users)
    {
        <div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Url.Content(@a.foto)" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">@a.nome</h5>
                    <p class="card-text">@a.genero</p>
                    <p class="card-text">@a.idade_anos</p>
                    <p class="card-text">@a.idade_meses</p>
                    <p class="card-text"><small class="text-body-secondary">@a.historia</small></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    }
}
 