@{
    ViewData["Title"] = "Custo por Resgate";
}
<h1>@ViewData["Title"]</h1>

<p><b>Cadastro de resgates</b></p>

<div class="container">

    <label for="acao">Ação:</label>
    <input type="text" id="acao" name="acao">

        <label for="customacho">Custo Macho:</label>
        <input type="text" id="customacho" name="customacho">

        <label for="onde">Custo Femêa:</label>
        <input type="text" id="custofemea" name="custofemea "  >

        <label for="ativo">Ativo?</label>
        <select id="ativo" name="ativo">
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
        </select>

        <button type="submit">Adicionar</button>
    </div>
    <br />

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Ação</th>
            <th>Custo Macho</th>
            <th>Custo Femea</th>
            <th>Data de Cadastro</th>
            <th>Ativo</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var a in (List<PetFriends.Models.CustoPorResgate>)ViewBag.users)
            {
                <tr>
                    <td>@a.Id</td>
                    <td>@a.Acao</td>
                    <td>@string.Format("R$ {0:N2}", a.CustoMacho)</td>
                    <td>@string.Format("R$ {0:N2}", a.CustoFemea)</td>
                    <td>@a.DataCadastro.ToString("dd/MM/yyyy")</td>
                    <td>@(a.Ativo ? "Sim" : "Não")</td>
                </tr>
            }
        }
    </tbody>
</table>