@{
    ViewData["Title"] = "Perfil do Pet";
}

<head>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>

<body>
<div class="col-md-12 pb-0"  style="padding:5px;">
    <form>
        <div style="font-size:20px;">@ViewData["Title"]</div>
    </form>
    <div class="row  pb-0">    
        <div class="col-md-12 pb-0" style="width: 100%; float:right;">
            <form class="form-control" style="font-size:12px;">  
                <div class="col-md-2 pb-0" style="width: 15%; float:left; margin-right:1%">
                    <img src="~/Images/test.png" class="img-fluid width=200px height=200px rounded border-1 border-dark">
                </div>            
                <div class="row" style="font-size:12px;">  
                    <div class="col-md-4 was-validated">                        
                        <label for="meuNome" class="form-label">Meu Nome</label>
                        <input type="text" class="form-control" id="meuNome" required placeholder="Nome" style="font-size:12px;">
                        <div class="invalid-feedback">Campo Obrigatório</div>                        
                    </div>
                    <div class="col-md-3">
                        <label for="nomeFinal" class="form-label">Nome Final</label>
                        <input type="text" class="form-control border border-secondary" id="nomeFinal" placeholder="Nome Final" style="font-size:12px;">
                    </div>  
                    
                    <div class="col-md-4 was-validated" style="font-size:12px;">
                        <label for="tipoAnimal" class="form-label">O que eu sou</label> 
                        <div class="input-group" style="font-size:12px;">
                            <button type="button" class="btn btn-success" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>                                   
                            <button type="button" class="btn btn-primary" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                            <select class="form-select" id="tipoAnimal" required style="font-size:12px;">
                                <option value="">Tipo</option>
                                <option value="1">Cão</option>
                                <option value="2">Gato</option>
                                <option value="3">Coelho</option>
                            </select>  
                            <div class="invalid-feedback">Campo Obrigatório</div>  
                        </div> 
                    </div>
                    <div class="col-md-1 " style="float:right; font-size:12px;">
                        <label for="adestrar" class="form-label">Adestrar?</label>
                        <div style="font-size:12px;">
                             <input type="checkbox" data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success" data-offstyle="danger" id="toggleAdestrar" style="font-size:12px;">
                        </div>                   
                    </div>  
                             
                </div>
                <p></p>
                <div class="row" style="font-size:12px;">
                    <div class="col-md-2 was-validated" style="font-size:12px;"> 
                        <label for="genero" class="form-label">Gênero</label>       
                        <select class="form-select" id="genero" required style="font-size:12px;">
                            <option value="">F/M</option>                        
                            <option value="2">Fêmea</option>
                            <option value="1">Macho</option>
                        </select>                    
                        <div class="invalid-feedback">Campo Obrigatório</div> 
                    </div>                   
                    <div class="col-md-2 was-validated" style="font-size:12px;">
                        <label for="porte" class="form-label">Porte</label>       
                        <select class="form-select" id="porte" required style="font-size:12px;">
                            <option value="">P/M/G</option>
                            <option value="1">Pequeno</option>
                            <option value="2">Médio</option>
                            <option value="3">Grande</option>
                        </select>  
                        <div class="invalid-feedback">Campo Obrigatório</div>
                    </div>   
                    
                    <div class="col-md-2" style="font-size:12px; max-width:125px">
                        <label for="idadeAnos" class="form-label">Anos</label>       
                        <select class="form-select" id="idadeAnos" style="font-size:12px;">
                            <option value=""></option>
                            @for (int i = 0; i < 101; i++)
                            {
                                <option value="+@i+">@i</option>
                            }
                        </select>                    
                    </div>
                    <div class="col-md-2" style="font-size:12px; max-width:108px">
                        <label for="idadeMeses" class="form-label">Meses</label>       
                        <select class="form-select" id="idadeMeses" style="font-size:12px;">
                            <option value=""></option>
                            @for (int i = 0; i < 13; i++)
                            {
                                <option value="+@i+">@i</option>
                            }
                        </select>                    
                    </div>
                    <div class="col-md-4 was-validated" style="font-size:12px;">
                        <label for="pelo" class="form-label">Pelo</label> 
                        <div class="input-group" id="grupoPelo" style="font-size:12px;">
                            <button type="button" class="btn btn-success" id="btnAddPelo" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-primary" id="btnEditPelo" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                            <select class="form-select" id="pelo" required style="font-size:12px;">
                                <option value="">Cor</option>
                                <option value="1">Preto</option>
                                <option value="2">Branco</option>
                                <option value="3">Caramelo</option>
                            </select>  
                            <div class="invalid-feedback">Campo Obrigatório</div> 
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row" style="font-size:12px;">  
                    <div class="col-md-2 was-validated" style="font-size:12px;"></div>
                    <div class="col-md-2 was-validated" style="font-size:12px; max-width:156px"> 
                        <label for="peso" class="form-label">Peso (kg)</label>
                        <input type="text" class="form-control" id="peso" required placeholder="Kg (ex:3.75)" style="font-size:12px;">
                        <div class="invalid-feedback">Campo Obrigatório</div>
                    </div>
                    <div class="col-md-4 was-validated" style="max-width:355px; font-size:12px;"> 
                        <label for="larTemporario" class="form-label">Lar Temporario</label> 
                        <div class="input-group" id="grupoLarTemporario" style="font-size:12px;">
                            <button type="button" class="btn btn-success" id="btnAddLarTemporario" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-primary" id="btnEditLarTemporario" style="font-size:12px;" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                            <select class="form-select" id="larTemporario" required style="font-size:12px;">
                                <option value=""></option>
                                <option value="1">ONG Pet Friends</option>
                                <option value="2">Lar da Pipi</option>
                                <option value="3">Lar da Olga</option>
                                <option value="4">Lar da Sara</option>
                            </select>   
                            <div class="invalid-feedback">Campo Obrigatório</div>
                        </div>
                    </div>
                    <div class="col-md-2 was-validated" style="max-width:140px; font-size:12px;"> 
                        <label for="dataResgate" class="form-label">Data do Resgate</label> 
                        <input type="text" class="form-control border border-secondary" id="dataResgate" required placeholder="dd/mm/aaaa" style="font-size:12px;">
                        <div class="invalid-feedback">Campo Obrigatório</div>
                    </div> 
                    <div class="col-md-2 was-validated" style="max-width:140px; font-size:12px;"> 
                        <label for="dataCadastro" class="form-label">Data do Cadastro</label> 
                        <input type="text" class="form-control border border-secondary" id="dataCadastro" disabled value=@DateTime.Now.ToString("dd/MM/yyyy")  style="font-size:12px;">
                    </div>   
                    <div class="col-md-2" style="max-width:140px; font-size:12px;"> 
                        <label for="dataDivulgacao" class="form-label">Data da Divulgação</label> 
                        <input type="text" class="form-control border border-secondary" id="dataDivulgacao" placeholder="dd/mm/aaaa" style="font-size:12px;">
                    </div>
                    
                </div>
                <p></p>
                <div class="row" style="font-size:12px;"> 
                    <div class="col-md-2 " style="font-size:12px;"></div>
                    <div class="col-md-2 " style="max-width: 155px; font-size:12px;">
                        <label for="falecido" class="form-label">Falecido?</label>
                        <div style="font-size:12px;">
                             <input style="width: 18px;height: 1px;" type="checkbox" data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success" data-offstyle="danger" id="toggleFalecido">
                        </div>                   
                    </div> 
                    <div class="col-md-6 was-validated" style="font-size:12px; max-width:356px"> 
                        <label for="causaFalecimento" class="form-label">Causa do falecimento</label> 
                        <div class="input-group" id="grupoCausaFalecimento" style="font-size:12px">
                            <button type="button" class="btn btn-success" id="btnAddCausaFalecimento" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>                                   
                            <button type="button" class="btn btn-primary" id="bntEditCausaFalecimento" style="font-size:12px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                            <select class="form-select" id="causaFalecimento" required disabled style="font-size:12px;">
                                <option value=""></option>
                                <option value="1">Idade</option>
                                <option value="2">Cancer</option>
                                <option value="3">Leixmaninhose</option>                                
                            </select>    
                            <div class="invalid-feedback">Campo Obrigatório</div>
                        </div>
                    </div>  
                    <div class="col-md-3 was-validated" style="max-width:200px; font-size:12px;">
                        <label for="dataFalecimento" class="form-label">Data do Falecimento</label> 
                        <input type="text" class="form-control border border-secondary" id="nomeFinal" placeholder="dd/mm/aaaa" required disabled style="font-size:12px;">
                        <div class="invalid-feedback">Campo Obrigatório</div>
                    </div>                    
                </div> 
                <div class="row" style="font-size:12px;"> 
                    <div class="col-md-1" style="max-height: 100px;"></div>
                    <div class="col-md-12  pb-1" style="float:right; max-width: 1560px; max-height: 100px; font-size:12px;">
                        <label for="historia" class="form-label">Minha História</label>
                        <textarea class="form-control" id="historia" placeholder="Minha história aqui...." required style="font-size:12px;"></textarea>
                        <div class="invalid-feedback">Campo Obrigatório</div>
                    </div>
                </div>
                <p></p>  



                <!--arrumar as tabelas depois-->

                <h5>Test</h5>


                <table class="col-md-12  pb-1"  id="drawTemplate" style="border:1px solid black;border-collapse: collapse; max-width: 1570px;">
                    <thead style="border:1px solid black;border-collapse: collapse">
                        <tr style="border:1px solid black;border-collapse: collapse">
                            <th>id</th>
                            <th>idade_anos</th>
                            <th>idade_meses</th>
                            <th>historia</th>
                        </tr>
                    </thead>
                    <tbody style="border:1px solid black;border-collapse: collapse">
                        @foreach (var animal in (List<PetFriends.Models.Animal>)ViewBag.users)
                        {
                            {                                
                                <tr style="border:1px solid black;border-collapse: collapse">
                                    <td>@animal.Id</td>
                                    <td>@animal.IdadeAnos</td>
                                    <td>@animal.IdadeMeses</td>
                                    <td>@animal.Historia</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>


                <p></p>  
                <p></p>
                <p></p>
                <p></p>  
                <p></p>
                <p></p>

               
                <h5>Test</h5>

                <table class="col-md-12  pb-1"  id="drawTemplate" style="border:1px solid black;border-collapse: collapse; max-width: 1600px;">
                    <thead style="border:1px solid black;border-collapse: collapse">
                        <tr style="border:1px solid black;border-collapse: collapse">
                            <th>id</th>
                            <th>idade_anos</th>
                            <th>idade_meses</th>
                            <th>historia</th>
                        </tr>
                    </thead>
                    <tbody style="border:1px solid black;border-collapse: collapse">
                        @foreach (var a in (List<PetFriends.Models.Animal>)ViewBag.users)
                        {
                            {                                
                                <tr style="border:1px solid black;border-collapse: collapse">
                                     <td>@a.Id</td>
                                     <td>@a.IdadeAnos</td>
                                     <td>@a.IdadeMeses</td>
                                     <td>@a.Historia</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                   
                <p></p>  
                <p></p>
                <p></p>
                <p></p>  
                <p></p>
                <p></p>
                <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
            </form>
        </div>
    </div>
    
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


</body>