@model PetFriends.Models.Animal
@{
    ViewData["Title"] = "Criar Perfil do Pet";
}
<div style="font-size:20px;">@ViewData["Title"]</div>

<div class="form-horizontal" style="font-size:12px;">
    <div class="form-group">
        <div class="row">
            <div class="row" style="font-size:12px;">
                <div class="col-md-2 pb-0" style="width: 15%; float:left; margin-right:1%">
                    <img src="@Url.Content("~/Images/logo.png")" class="img-fluid width=200px height=200px rounded border-1 border-dark">                             
                </div>

                <div class="col-md-4 pb-0 was-validated">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })                    
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @data_val="true", @required="required",@placeholder="Nome do Pet aqui...",@oninvalid="this.setCustomValidity('Campo Obrigatório')" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })                     
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.NomeFinal, htmlAttributes: new { @class = "control-label" })                    
                    @Html.EditorFor(model => model.NomeFinal, new { htmlAttributes = new { @class = "form-control",@placeholder="Nome Final do Pet aqui..." } })
                    @Html.ValidationMessageFor(model => model.NomeFinal, "", new { @class = "text-danger" })                     
                </div>

               <div class="form-group col-md-3">
                    @Html.DropDownListFor(model => model.TipoAnimal, new SelectList(ViewBag.IdTipoAnimal, "Id", "TipoDesc"), "Choose... ")
                 </div>


               
                 <div class="form-group col-md-3">
                    @Html.DropDownListFor(model => model.Genero, new SelectList(ViewBag.IdGenero, "Id", "GeneroDesc"), "Choose... ")
                 </div>




            </div>
        </div>
    </div>
    <p class="form-group">
        <p class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>
    </p>

</div>

    


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
